#splitPreviewBar {
  height: 90%;
  position: fixed;
  z-index: 20;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  transition: 0.5s;
  /* padding: 30px 30px; */
  /*padding-top: 10px; */
}

.rightPreviewBar {
  right: 0;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #d8d7e0;
  max-width: 40%;
  word-wrap: break-word;
}
/*
.centeredPreviewBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}*/
/*
.centeredPreviewBar img {
  width: 150px;
  border-radius: 50%;
}
*/
