.Blockies {
    border-radius: 50%;
}
.FlexDisplay{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}
.TeamNameHover{
    display: inline-block;
    position: relative;
}
.TeamNameHover:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .TeamNameHover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }